<div *ngIf="data">
    <md-card>
        <img src="http://localhost:4000/api/1.0.0/{{data.pageContent.blog_banner.data.fields.image.cropped.asset.url}}" alt="pageContent.blog_banner.data.fields.image.title" md-card-image>
        <md-card-header>
            <md-card-title>
                {{data.title}}
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <p>{{data.meta.description}}</p>

            <!-- The 'dynamic-load' component can also be used to render views dynamically -->
            <app-dynamic-load [componentData]="data.viewsContent.blog"></app-dynamic-load>
        </md-card-content>
    </md-card>
</div>
